
  
  .menu > li {
    border: 1px solid tomato;
    color: green;
    font-weight: 700;  
   
  }
  /* Почему эта хрень делает ВСЕ элементы синими. ЭТО ЖЕ CHILD */
  li {
    color: blue;
    font-weight: 100;
  }
   /* li {
    border: 1px solid tomato;
  } */