body {
    font-family: 'Times New Roman';
    font-size: 30;
}
table caption {
    /* text-align: left; */
    font-size: 40;
    font-weight: bold;
}
/* We "collapse" the frames of adjacent cells */
table {
    border-collapse: collapse ;
}
/* 
  Add a border and padding to the cells, the distance from the content to the border.
  To control the vertical position, the caption-side property is used.
*/
table th, table td {
    padding: 10px;
    border: 1px solid black
    
}